<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
</head>
<body>
  <div class="content">
    <p>Hi, {{.Name}}</p>
    <p>Welcome to Qaado App.</p>
    <p>You have been invited by {{.Sender}} Please click on the following link (or copy to browser address bar):</p>
    <p>
      <a href="{{.Link}}" target="_blank" rel="noopener noreferrer">{{.Link}}</a>
    </p>
    <p>Thanks for using Qaado App!</p>
  </div>
</body>
</html>